root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{swift,yml,yaml,json,md}]
indent_style = space
indent_size = 4

[CrestCore/**/*.cs]
indent_style = space
indent_size = 4
csharp_new_line_before_open_brace = none
csharp_new_line_before_else = false
csharp_new_line_before_catch = false
csharp_new_line_before_finally = false
csharp_style_namespace_declarations = file_scoped:warning
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = true
dotnet_style_require_accessibility_modifiers = for_non_interface_members:warning
dotnet_style_readonly_field = true:warning
dotnet_diagnostic.IDE0055.severity = warning

[*.md]
trim_trailing_whitespace = false

[*.{yml,yaml,json}]
indent_size = 2
